
:root{
    --color: #2196F3;
    --black: #212121;
    --gray: #757575;
    --backround-color: #2F303A;
    --white: #FFFFFF;
    --blue:  #2196F3;


}
a[href="/Конткати"]{
    color: var(--black);
}
a[href="tel:+38 096 111 11 11"]{
    color: var(--gray);
}
.danilo1{
    background-color: var(--backround-color);
}
.danilo2{
    color: var(--white);
}
.danilo3{
 background-color: var(--blue);
}
.danilo3{
    color: var(--white);
}
.danilo4{
    color: var(--gray);
}
.danilo5{
    color: var(--gray);
}
.danilo6{
    color: var(--gray);
}
.danilo7{
    color: var(--gray);
}
.danilo8{
    color: var(--gray);
}
.danilo9{
    color: var(--gray);
}
.danilo10{
    color: var(--gray);
}
.danilo11{
    color: var(--gray);
}
footer{
    background-color: var(--backround-color);
}
a[href="info@devstudio.com"]{
   color: var(--gray);
}
.danilo12{
    color: var(--white);
}
.danilo21{
    color: var(--blue);
}
.danilo22{
    color: var(--black);
}
.danilo23{
    color: var(--black);
}
.danilo24{
    color: var(--blue);
}
a[href="/Контакти"]{
    color: var(--black);
}
.danilo25{
    color: var(--gray);
}
.danilo26{
    color: var(--gray);
}
.danilo27{
    color: var(--gray);
}
.danilo28{
    color: var(--gray);
}
.danilo29{
    color: var(--gray);
}
.danilo30{
    color: var(--gray);
}
.danilo31{
    color: var(--gray);
}
.danilo32{
    color: var(--gray);
}
.danilo33{
    color: var(--gray);
}
.danilo34{
    color: var(--white);
}
.danilo51[href="info@devstudio.com"]{
    color: var(--blue);
}
.danilo53[href="info@devstudio.com"]{
    color: var(--blue);
}
body{
    font-family: "Roboto";
}
a[href="/WebStudio"]{
    font-family: "Raleway";
}
.navigate-site{
    font-family: "Raleway";
}